# =============== #
# Unity generated #
# =============== #
unityproject/Temp/
unityproject/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
unityproject/ExportedObj/
unityproject/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
#*.meta
